@charset "UTF-8";

html{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
}

div#main{
    width: 800px;
    margin: 0px auto;
    padding: 0px;
}

div#flame{
    width: 480px;
    margin: auto;
    padding: 10px;
}

div#operation{
}

div#function{
    float: left;
    width: 400px;
}

div#function > div{
    margin: 5px;
    padding: 5px;
    border: solid 3px blue;
    border-radius: 5px;
    background-color: #eeeeff;
}

div#variation{
    float: right;
    width: 400px;
}

div#variation > div{
    margin: 5px;
    padding: 5px;
    border: solid 3px orange;
    border-radius: 5px;
    background-color: #fff0ee;
}

div.equation{
    text-align: center;
}
